.progressContainer {
    display: grid;
    grid-template-columns: 1fr 0.5fr 2fr;
    align-items: center;
}

.progressBackground {
    height: 3px;
    width: 100%;
    background-color: #F0F1F3;
    border-radius: 20px;
}